<% provide(:title, "Home") %>
<div class="jumbotron">
  <div class="container">
    <h1 class="white">Course Watch</h1>
    <h2>See What Classes Your Friends Are Taking</h2>
    <%= link_to 'Sign Up Now!',signup_path,class: "btn btn-large btn-primary" %>
</div>

</div>
