<% provide(:title,"#{@user.first_name} #{@user.last_name}") %>
<div class="container">
  <%= render 'shared/sidebar' %>
  <ul>
  <% @user.courses.each do |course| %>
  <li><%= link_to course.course_name,course %></li>
  <% end %>
</ul>
</div>